# Disable caching
<IfModule mod_headers.c>
    Header set Cache-Control "private, no-cache, no-store, proxy-revalidate"
    Header set Pragma "no-cache"
</IfModule>
<IfModule mod_expires.c>
    ExpiresActive Off
</IfModule>


